{% extends 'base.html' %}
{% load static %}

{% block title %}Keeb&Code | About me{% endblock %}

{% block content %}

<br>
<div class="about-banner">
    <img src="{% static 'images/about-banner.png' %}" alt="" class="banner-large rounded">
</div>

<p class="p-dark">
    Hi ! I'm Ivan 🙋‍♂️‍️
    <br><br>
    Currently a third year graduate student in computer science,
    I'm particularly drawn to web programming and computer hardware as a whole. If
    I'm not programming or doing computer related stuff you'll find me on a basketball
    court or playing some CS:GO.
    <br><br>
    During the course of my second year I got a module
    where I had to design a full fledge event manager website.
    I had never done a project where the outcome would be tangible before,
    something that could be used and be useful. What can I say, it was great !
    <br><br>
    Since then I have never stopped learning and putting my knowledge to use.
    <br><br>
    This blog is the culmination of my short journey as a web programmer, an idea stemming from
    my interest in mechanical keyboards and my love for programming.
    <br><br>
    Be sure to follow me with the links below 😉
</p>

{% endblock %}
