{% extends 'base.html' %}

{% block head %}
<meta name="description" content="{{ object.description }}">
<meta name="keywords" content="{{ object.category }} blog post">
<meta name="author" content="{{ object.author }}">
<meta property='og:title' content='{{ object.title | title }}'/>
<meta property='og:image' content='{{ object.banner.url }}'/>
<meta property='og:description' content='{{ object.description }}'/>
<meta property='og:url' content='{{ request.get_full_path }}'/>
<meta property="og:type" content="article" />
{% endblock %}

{% block title %}Post {% endblock %}

{% block header %}
<header class="masthead">
  <div class="banner-title">
    <h2 id="title" class="banner-text font-ambit font-weight-bold">{{ object.title | title }}</h2>
    <h3 class="banner-text font-ambit">{{ object.subtitle | title }}</h3>
  </div>
  <div class="author">
    <div class="profile-pic" >
      <img class="profile-picture" src="{{ profile.picture.url }}" alt="">
    </div>
    <div class="profile-text">
      <h4 class="author-text font-ambit font-weight-normal">by {{ object.author }}</h4>
      <h4 class="author-text font-ambit font-weight-light">{{ object.date }}</h4>
    </div>
  </div>
  <br>
  <div class="banner-container">
    <img class="rounded" src="{{ object.banner.url }}" alt="Post banner picture">
  </div>
</header>
{% endblock %}

{% block content %}
<br>
<!-- Section 1 -->
<h2 class="heading">{{ object.heading_1 }}</h2>
<p class="p-post">{{ object.p1_1|safe }}</p>
{% if object.img1_1 %}
<div class="post-image">
  {% if object.caption1_1 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img1_1_class }} post-img" src="{{ object.img1_1.url }}" alt="">
    {% if object.caption1_1 %}
    <figcaption class="figure-caption">{{ object.caption1_1 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p1_2|safe }}</p>
{% if object.img1_2 %}
<div class="post-image">
  {% if object.caption1_2 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img1_2_class }} post-img" src="{{ object.img1_2.url }}" alt="">
    {% if object.caption1_2 %}
    <figcaption class="figure-caption">{{ object.caption1_2 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p1_3|safe }}</p>
{% if object.img1_3 %}
<div class="post-image">
  {% if object.caption1_3 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img1_3_class }} post-img" src="{{ object.img1_3.url }}" alt="">
    {% if object.caption1_3 %}
    <figcaption class="figure-caption">{{ object.caption1_3 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p1_4|safe }}</p>
{% if object.img1_4 %}
<div class="post-image">
  {% if object.caption1_4 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img1_4_class }} post-img" src="{{ object.img1_4.url }}" alt="">
    {% if object.caption1_4 %}
    <figcaption class="figure-caption">{{ object.caption1_4 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p1_5|safe }}</p>
{% if object.img1_5 %}
<div class="post-image">
  {% if object.caption1_5 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img1_5_class }} post-img" src="{{ object.img1_5.url }}" alt="">
    {% if object.caption1_5 %}
    <figcaption class="figure-caption">{{ object.caption1_5 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<!-- Section 2 -->
<h2 class="heading">{{ object.heading_2 }}</h2>
<p class="p-post">{{ object.p2_1|safe }}</p>
{% if object.img2_1 %}
<div class="post-image">
  {% if object.caption2_1 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img2_1_class }} post-img" src="{{ object.img2_1.url }}" alt="">
    {% if object.caption2_1 %}
    <figcaption class="figure-caption">{{ object.caption2_1 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p2_2|safe }}</p>
{% if object.img2_2 %}
<div class="post-image">
  {% if object.caption2_2 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img2_2_class }} post-img" src="{{ object.img2_2.url }}" alt="">
    {% if object.caption2_2 %}
    <figcaption class="figure-caption">{{ object.caption2_2 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p2_3|safe }}</p>
{% if object.img2_3 %}
<div class="post-image">
  {% if object.caption2_3 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img2_3_class }} post-img" src="{{ object.img2_3.url }}" alt="">
    {% if object.caption2_3 %}
    <figcaption class="figure-caption">{{ object.caption2_3 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p2_4|safe }}</p>
{% if object.img2_4 %}
<div class="post-image">
  {% if object.caption2_4 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img2_4_class }} post-img" src="{{ object.img2_4.url }}" alt="">
    {% if object.caption2_4 %}
    <figcaption class="figure-caption">{{ object.caption2_4 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p2_5|safe }}</p>
{% if object.img2_5 %}
<div class="post-image">
  {% if object.caption2_5 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img2_5_class }} post-img" src="{{ object.img2_5.url }}" alt="">
    {% if object.caption2_5 %}
    <figcaption class="figure-caption">{{ object.caption2_5 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<!-- Section 3 -->
<h2 class="heading">{{ object.heading_3 }}</h2>
<p class="p-post">{{ object.p3_1|safe }}</p>
{% if object.img3_1 %}
<div class="post-image">
  {% if object.caption3_1 %}
  <figure class="figure">
    {% endif %}
    <img class="figure-img rounded {{ object.img3_1_class }} post-img" src="{{ object.img3_1.url }}" alt="">
    {% if object.caption3_1 %}
    <figcaption class="figure-caption">{{ object.caption3_1 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p3_2|safe }}</p>
{% if object.img3_2 %}
<div class="post-image">
  {% if object.caption3_2 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img3_2_class }} post-img" src="{{ object.img3_2.url }}" alt="">
    {% if object.caption3_2 %}
    <figcaption class="figure-caption">{{ object.caption3_2 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p3_3|safe }}</p>
{% if object.img3_3 %}
<div class="post-image">
  {% if object.caption3_3 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img3_3_class }} post-img" src="{{ object.img3_3.url }}" alt="">
    {% if object.caption3_3 %}
    <figcaption class="figure-caption">{{ object.caption3_3 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p3_4|safe }}</p>
{% if object.img3_4 %}
<div class="post-image">
  {% if object.caption3_4 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img3_4_class }} post-img" src="{{ object.img3_4.url }}" alt="">
    {% if object.caption3_4 %}
    <figcaption class="figure-caption">{{ object.caption3_4 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p3_5|safe }}</p>
{% if object.img3_5 %}
<div class="post-image">
  {% if object.caption3_5 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img3_5_class }} post-img" src="{{ object.img3_5.url }}" alt="">
    {% if object.caption3_5 %}
    <figcaption class="figure-caption">{{ object.caption3_5 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<!-- Section 4 -->
<h2 class="heading">{{ object.heading_4 }}</h2>
<p class="p-post">{{ object.p4_1|safe }}</p>
{% if object.img4_1 %}
<div class="post-image">
  {% if object.caption4_1 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img4_1_class }} post-img" src="{{ object.img4_1.url }}" alt="">
    {% if object.caption4_1 %}
    <figcaption class="figure-caption">{{ object.caption4_1 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p4_2|safe }}</p>
{% if object.img4_2 %}
<div class="post-image">
  {% if object.caption4_2 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img4_2_class }} post-img" src="{{ object.img4_2.url }}" alt="">
    {% if object.caption4_2 %}
    <figcaption class="figure-caption">{{ object.caption4_2 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p4_3|safe }}</p>
{% if object.img4_3 %}
<div class="post-image">
  {% if object.caption4_3 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img4_3_class }} post-img" src="{{ object.img4_3.url }}" alt="">
    {% if object.caption4_3 %}
    <figcaption class="figure-caption">{{ object.caption4_3 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p4_4|safe }}</p>
{% if object.img4_4 %}
<div class="post-image">
  {% if object.caption4_4 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img4_4_class }} post-img" src="{{ object.img4_4.url }}" alt="">
    {% if object.caption4_4 %}
    <figcaption class="figure-caption">{{ object.caption4_4 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p4_5|safe }}</p>
{% if object.img4_5 %}
<div class="post-image">
  {% if object.caption4_5 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img4_5_class }} post-img" src="{{ object.img4_5.url }}" alt="">
    {% if object.caption4_5 %}
    <figcaption class="figure-caption">{{ object.caption4_5 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<!-- Section 5 -->
<h2 class="heading">{{ object.heading_5 }}</h2>
<p class="p-post">{{ object.p5_1|safe }}</p>
{% if object.img5_1 %}
<div class="post-image">
  {% if object.caption5_1 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img5_1_class }} post-img" src="{{ object.img5_1.url }}" alt="">
    {% if object.caption5_1 %}
    <figcaption class="figure-caption">{{ object.caption5_1 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p5_2|safe }}</p>
{% if object.img5_2 %}
<div class="post-image">
  {% if object.caption5_2 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img5_2_class }} post-img" src="{{ object.img5_2.url }}" alt="">
    {% if object.caption5_2 %}
    <figcaption class="figure-caption">{{ object.caption5_2 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p5_3|safe }}</p>
{% if object.img5_3 %}
<div class="post-image">
  {% if object.caption5_3 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img5_3_class }} post-img" src="{{ object.img5_3.url }}" alt="">
    {% if object.caption5_3 %}
    <figcaption class="figure-caption">{{ object.caption5_3 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p5_4|safe }}</p>
{% if object.img5_4 %}
<div class="post-image">
  {% if object.caption5_4 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img5_4_class }} post-img" src="{{ object.img5_4.url }}" alt="">
    {% if object.caption5_4 %}
    <figcaption class="figure-caption">{{ object.caption5_4 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p5_5|safe }}</p>
{% if object.img5_5 %}
<div class="post-image">
  {% if object.caption5_5 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img5_5_class }} post-img" src="{{ object.img5_5.url }}" alt="">
    {% if object.caption5_5 %}
    <figcaption class="figure-caption">{{ object.caption5_5 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<!-- Section 6 -->
<h2 class="heading">{{ object.heading_6 }}</h2>
<p class="p-post">{{ object.p6_1|safe }}</p>
{% if object.img6_1 %}
<div class="post-image">
  {% if object.caption6_1 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img6_1_class }} post-img" src="{{ object.img6_1.url }}" alt="">
    {% if object.caption6_1 %}
    <figcaption class="figure-caption">{{ object.caption6_1 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p6_2|safe }}</p>
{% if object.img6_2 %}
<div class="post-image">
  {% if object.caption6_2 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img6_2_class }} post-img" src="{{ object.img6_2.url }}" alt="">
    {% if object.caption6_2 %}
    <figcaption class="figure-caption">{{ object.caption6_2 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p6_3|safe }}</p>
{% if object.img6_3 %}
<div class="post-image">
  {% if object.caption6_3 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img6_3_class }} post-img" src="{{ object.img6_3.url }}" alt="">
    {% if object.caption6_3 %}
    <figcaption class="figure-caption">{{ object.caption6_3 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p6_4|safe }}</p>
{% if object.img6_4 %}
<div class="post-image">
  {% if object.caption6_4 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img6_4_class }} post-img" src="{{ object.img6_4.url }}" alt="">
    {% if object.caption6_4 %}
    <figcaption class="figure-caption">{{ object.caption6_4 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p6_5|safe }}</p>
{% if object.img6_5 %}
<div class="post-image">
  {% if object.caption6_5 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img6_5_class }} post-img" src="{{ object.img6_5.url }}" alt="">
    {% if object.caption6_5 %}
    <figcaption class="figure-caption">{{ object.caption6_5 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<!-- Section 7 -->
<h2 class="heading">{{ object.heading_7 }}</h2>
<p class="p-post">{{ object.p7_1|safe }}</p>
{% if object.img7_1 %}
<div class="post-image">
  {% if object.caption7_1 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img7_1_class }} post-img" src="{{ object.img7_1.url }}" alt="">
    {% if object.caption7_1 %}
    <figcaption class="figure-caption">{{ object.caption7_1 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p7_2|safe }}</p>
{% if object.img7_2 %}
<div class="post-image">
  {% if object.caption7_2 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img7_2_class }} post-img" src="{{ object.img7_2.url }}" alt="">
    {% if object.caption7_2 %}
    <figcaption class="figure-caption">{{ object.caption7_2 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p7_3|safe }}</p>
{% if object.img7_3 %}
<div class="post-image">
  {% if object.caption7_3 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img7_3_class }} post-img" src="{{ object.img7_3.url }}" alt="">
    {% if object.caption7_3 %}
    <figcaption class="figure-caption">{{ object.caption7_3 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p7_4|safe }}</p>
{% if object.img7_4 %}
<div class="post-image">
  {% if object.caption7_4 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img7_4_class }} post-img" src="{{ object.img7_4.url }}" alt="">
    {% if object.caption7_4 %}
    <figcaption class="figure-caption">{{ object.caption7_4 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

<p class="p-post">{{ object.p7_5|safe }}</p>
{% if object.img7_5 %}
<div class="post-image">
  {% if object.caption7_5 %}
  <figure class="figure">
    {% endif %}
    <img class="rounded {{ object.img7_5_class }} post-img" src="{{ object.img7_5.url }}" alt="">
    {% if object.caption7_5 %}
    <figcaption class="figure-caption">{{ object.caption7_5 }}</figcaption>
  </figure>
  {% endif %}
</div>
<br>
{% endif %}

{% if object.link %}
<a href="{{ object.link_url }}">{{ object.link }}</a>
{% endif %}

<br><br>

{% if object.carousel_1 or object.carousel_2 or object.carousel_3 %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% if object.carousel_1 %}
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    {% endif %}
    {% if object.carousel_2 %}
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    {% endif %}
    {% if object.carousel_3 %}
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    {% endif %}
  </ol>
  <div class="carousel-inner">
    {% if object.carousel_1 %}
    <div class="carousel-item active">
      <img class="rounded d-block w-100" src="{{ object.carousel_1.url }}" alt="First slide">
    </div>
    {% endif %}
    {% if object.carousel_2 %}
    <div class="carousel-item">
      <img class="rounded d-block w-100" src="{{ object.carousel_2.url }}" alt="Second slide">
    </div>
    {% endif %}
    {% if object.carousel_3 %}
    <div class="carousel-item">
      <img class="rounded d-block w-100" src="{{ object.carousel_3.url }}" alt="Third slide">
    </div>
    {% endif %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endif %}

{% endblock %}