@import "main";

/* Header */
.brand-text {
  color: $blackcoral;
}
.typed-cursor {
  color: $blackcoral;
}

/* Main */
body {
  background-color: $eggshell;
}

.light-gradient{
  background: -webkit-linear-gradient(45deg, $melon 0%, $blackcoral 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blue-gradient{
  background: -webkit-linear-gradient(45deg, $powderblue 0%, $blackcoral 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aero-gradient{
  background: -webkit-linear-gradient(45deg, $aeroblue 0%, $blackcoral 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blue-melon-gradient{
  background: -webkit-linear-gradient(45deg, $powderblue 0%, $melon 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-melon {
  background-color: $melon;
}

.bg-aeroblue {
  background-color: $aeroblue;
}

.bg-powderblue {
  background-color: $powderblue;
}

.bg-blackcoral {
  background-color: $blackcoral;
}

.blackcoral{
  color: $blackcoral;
}

.p-dark {
  color: $blackcoral;
}

.p-post {
  color: $blackcoral;
}

// Placeholder Colour
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $blackcoral !important;
  opacity: 1; /* Firefox */
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $white;
}
:-moz-placeholder { /* Firefox 18- */
  color: $white;
}

.input-container {
  border-color: $blackcoral !important;
}

// Feed Posts Cards
.my-card-texts {
  color: $blackcoral;
  background-color: rgba($eggshell,0.75);
}
.overlay{
  background-color: $melon;
}
.overlay-text {
  color: $eggshell;
}

.btn-gradient {
  background: linear-gradient(90deg, rgba(174,217,224,1) 0%, rgba(94,100,114,1) 100%);
  border: none;
}

/* Footer */
.footer {
  background-color: $eggshell;
}

.social-circle i {
  color: $white;
}

.social-circle a {
    background-color: $blackcoral;
}

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, .social-network a.icoMedium:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color: #fff;
}



