<ul class="social-network social-circle">
    <li><a class="icoLinkedin" href="https://www.linkedin.com/in/ivanraymond" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
    <li><a class="icoTwitter" href="https://twitter.com/AlexandreRaym" title="Twitter"><i class="fa fa-twitter"></i></a></li>
{#    <li><a class="icoInstagram" href="https://www.instagram.com/ivan_raymond07/" title="Instagram"><i class="fa fa-instagram"></i></a></li>#}
    <li><a class="icoGithub" href="https://github.com/Alexandre1999" title="Github"><i class="fa fa-github"></i></a></li>
</ul>